// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ccc-name: 'ccc';
$ccc-x: 0px;
$ccc-y: 0px;
$ccc-offset-x: 0px;
$ccc-offset-y: 0px;
$ccc-width: 22px;
$ccc-height: 22px;
$ccc-total-width: 44px;
$ccc-total-height: 22px;
$ccc-image: '../img/blocks/spritessheet.png';
$ccc: (0px, 0px, 0px, 0px, 22px, 22px, 44px, 22px, '../img/blocks/spritessheet.png', 'ccc', );
$fff-name: 'fff';
$fff-x: 22px;
$fff-y: 0px;
$fff-offset-x: -22px;
$fff-offset-y: 0px;
$fff-width: 22px;
$fff-height: 22px;
$fff-total-width: 44px;
$fff-total-height: 22px;
$fff-image: '../img/blocks/spritessheet.png';
$fff: (22px, 0px, -22px, 0px, 22px, 22px, 44px, 22px, '../img/blocks/spritessheet.png', 'fff', );
$spritesheet-width: 44px;
$spritesheet-height: 22px;
$spritesheet-image: '../img/blocks/spritessheet.png';
$spritesheet-sprites: ($ccc, $fff, );
$spritesheet: (44px, 22px, '../img/blocks/spritessheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
